/* === NAVBAR === */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F3FFE6;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  padding: 0 10%;
  top: 0;
  z-index: 10;
}

.logo {
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  margin: 0;
}

.logo a{
  text-decoration: none;
}

.logo-img{
  width: 6em;
  height: 4em;
  object-fit: contain;
  border-radius: 8px;
}

.search-bar {
  width: 200px;
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-family: 'Amarante', serif;
}

.nav-icons a {
  font-size: 1.3em;
  margin-left: 15px;
  text-decoration: none;
  color: #333;
}