/* === FONTS === */
body {
  font-family: 'Arial', sans-serif;
  background: #fdfaf1;
  margin: 0;
  padding: 0;
  color: #333;
}

/* === LAYOUT === */
.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/** button **/
.button-red {
  padding: 20px 15px;
  background-color: rgb(255, 84, 84);
  border-radius: 30px;
  color: white;
  font-weight: bold;
}

/* === MAIN LAYOUT === */
.main-layout {
  display: flex;
  flex: 1;
  padding: 20px;
  gap: 20px;
}

/* === FEED === */
.feed {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  margin-bottom: 4em;
}

.post {
  width: 100%;
  max-width: 600px;
  background-color: rgb(243, 255, 230);
  border-radius: 25px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  margin-bottom: 25px;
  overflow: hidden;
}

.post-header {
  display: flex;
  align-items: center;
  padding: 10px 15px;
}

.post-header .avatar {
  border-radius: 50%;
  margin-right: 10px;
}

.post-user {
  font-weight: bold;
}

.post-image {
  width: 100%;
  display: block;
}

.post-body {
  padding: 10px 15px 15px;
}

/* === RESPONSIVE === */
@media (max-width: 768px) {
  .main-layout {
    flex-direction: column;
    align-items: center;
  }

  .sidebar {
    width: 90%;
  }

  .feed {
    width: 100%;
  }
}